/api/firebase_key.json

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
api/__pycache__/__init__.cpython-311.pyc
failed_uploads.json
uploads/
static/
api/__pycache__/__init__.cpython-311.pyc
captured_image.png
Images